.my-container {
  border: 2px solid gold;
  width: 200px;
}

.colore {
  color: red;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h3 {
  color: white;
  align-self: center;
}

div.centered-container {
  display: flex;
  justify-content: space-between;
  border: 2px solid green;
  width: 80%;
  margin: 0 auto;
}

div.header-img-container {
  border: 2px solid chocolate;
  display: flex;
}

div.header-img-container img {
  width: 80px;
  height: 80px;
}

nav.header-nav {
  border: 2px solid magenta;
  width: 80%;
}

nav.header-nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  height: 100%;
}

nav.header-nav ul li {
  align-self: center;
  font-size: 0.8rem;
  line-height: 30px;
}
nav.header-nav ul li:active, nav.header-nav ul li.active {
  border-bottom: 4px solid #0282f9;
}

div.content-goes {
  background-color: black;
}

div.my-jumbotron img {
  width: 100%;
  height: 100%;
}

div.my-jumbotron {
  border: 2px solid gold;
  height: 250px;
}

div.my-card {
  width: 16.6666666667%;
  border: 2px solid red;
  color: white;
  text-align: center;
}

div.my-card img {
  width: 70%;
}

div.my-centered-container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid green;
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  color: rgb(173, 172, 172);
}

li {
  margin-bottom: 0.2rem;
}

h4 {
  color: white;
  margin-bottom: 0.8rem;
}

div.main-background {
  background-image: url("../images/footer-bg.jpg");
  border: 2px solid black;
}

div.centered-container {
  display: flex;
  justify-content: space-between;
  border: 2px solid green;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

div.main-list {
  border: 2px solid gold;
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
}

div.logo-list {
  background-image: url("../images/dc-logo-bg.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  border: 2px solid red;
  width: 40%;
}

div.footer-background a {
  align-self: center;
  text-decoration: none;
}
div.footer-background ul {
  list-style-type: none;
  display: flex;
  width: 80%;
  justify-content: flex-end;
}
div.footer-background li {
  align-self: center;
  margin-left: 0.8rem;
}
div.footer-background div.footer-wrap {
  display: flex;
  justify-content: space-between;
  border: 2px solid green;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
div.footer-background div.footer-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  border: 2px solid brown;
  padding: 0.8rem;
}
div.footer-background div.footer-btn button {
  width: 120px;
  border: 2px solid blue;
  background-color: rgb(48, 48, 48);
  color: white;
  padding: 0.5rem;
}
div.footer-background div.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 40%;
  border: 2px solid blue;
  padding: 0.5rem;
}

div.footer-background {
  background-color: rgb(48, 48, 48);
  height: 80px;
}

div.blue-div {
  background-color: blue;
  width: 100%;
  height: 50px;
}

div.actionCard {
  border: 2px solid red;
  height: 200px;
  width: 180px;
  position: absolute;
  top: 30px;
  left: 20px;
  background-color: #0282f9;
}

div.actionCard img {
  width: 200px;
  height: 100px;
}

div.comic-container {
  width: 80%;
  border: 2px solid gold;
  display: flex;
  margin: 0 auto;
  height: 300px;
}

div.adv-container {
  display: flex;
  width: 30%;
  border: 2px solid black;
  height: 100%;
  flex-direction: column;
}
div.adv-container h5 {
  align-self: flex-end;
}
div.adv-container div.adv-img img {
  width: 100%;
  height: 200px;
}
div.adv-container div.adv-img {
  border: 2px solid red;
  display: flex;
}

div.info-container {
  width: 70%;
  height: 100%;
  border: 2px solid green;
}

div.comic-info {
  background-color: green;
  height: 40px;
  width: 100%;
  display: flex;
}
div.comic-info div.info-price {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  width: 65%;
  height: 100%;
}
div.comic-info div.comic-price {
  width: 35%;
  border: 2px solid red;
  height: 100%;
}