.my-container {
  border: 2px solid gold;
  width: 200px;
}

.colore {
  color: red;
}

a {
  text-decoration: none;
}

h3 {
  color: white;
  align-self: center;
}

div.centered-container {
  display: flex;
  justify-content: space-between;
  border: 2px solid green;
  width: 80%;
  margin: 0 auto;
  height: 100px;
}
div.centered-container div.header-img-container {
  border: 2px solid chocolate;
  display: flex;
}
div.centered-container div.header-img-container img {
  padding: 0.8rem;
}
div.centered-container nav.header-nav {
  border: 2px solid magenta;
  width: 80%;
}
div.centered-container nav.header-nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  height: 100%;
}
div.centered-container nav.header-nav ul li {
  align-self: center;
  font-size: 0.8rem;
  line-height: 90px;
}
div.centered-container nav.header-nav ul li:active, div.centered-container nav.header-nav ul li.active {
  border-bottom: 4px solid #0282f9;
}

div.content-goes {
  background-color: black;
}

div.my-jumbotron img {
  width: 100%;
  height: 100%;
}

div.my-jumbotron {
  border: 2px solid gold;
  height: 300px;
}

div.my-card {
  width: 16.6666666667%;
  border: 2px solid red;
  color: white;
  text-align: center;
}

div.my-card img {
  width: 70%;
}

div.my-centered-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 2px solid green;
  width: 80%;
  margin: 0 auto;
}